* {
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 255, 255);
}

.conteiner {
    display: block;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(247, 255, 203);
}

header {
    border: 1px inset blue;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center
}
.textP {
    text-indent: 20px; 
       font-size: 17px;
   }
.span1 {
    font-weight: bold;
}

.main-location {
    width: 1000px;
    /* Ширина блока */
    padding: 10px;
    /* Поля */
    margin: auto;
}

main {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul.nav {
    margin: 0; /* Обнуляем значение отступов */
    padding: 0px; /* Значение полей */
   }
   .nav{
    background-color: rgb(95, 0, 21);
   }
ul.nav li{
    display: inline-block; /* Отображать как строчный элемент */
    text-align: center;
   
}

.nav a {

    display: block; /* ссылка растягивается на весь пункт li */

    padding: 10px 20px; /* задаем внутренние отступы */

    color: #fff; /* цвет текста */

    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */

}
ul.list1 li{
    font-weight: bold;
}
.nav a:hover {

    background: #dc9adfda; /* фон пунктов при наведении */

}
[data-tooltip] {
    position: relative;
    /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 300px;
    border-radius: 10px;
    /* Ширина подсказки */
    left: 0;
    top: 0;
    /* Положение подсказки */
    background: #3989c9;
    /* Синий цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;

    /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}

input {
    font-size: 12px;
    width: 200px;
}

.pin {
    width: 500px;
}

.indent {
    white-space: pre;
}

.result1 {
    margin-top: 0;
}

.table {
    background-color: #fff;
}

button {
    
    border-radius: 17px;
   
    outline: none;
    font-weight: 300;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    transition: 0.2s;
}

button:active {
    background: rgb(145, 179, 252);

}

button {
    background: rgb(200, 216, 250);
}
.necessarily{
   
    background-color:rgb(249, 198, 253);
}
@media (max-width: 990px) {

    .conteiner{
        max-height: 100%;
        max-width: 97%;
    }
    header {
        border: 1px inset blue;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    
    .main-location{
        padding: 5%;
        max-width: 960px;
        
    }
    input {
        font-size: 14px;
        width: 400px;
    }
    .pin {
        width: 400px;
    }
    p{
        width:720px;
    }
    
}
@media (max-width: 760px) {
    html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
    .conteiner { 
        display: block;
        justify-content: flex-start;
        max-width: 97%;
        
    }
    header {
        border: 1px inset blue;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
   
    .main-location{
        padding:  5%;
        max-width: 730px;
    }
    input {
        font-size: 14px;
        width: 200px;
    }
    .pin {
        width: 200px;
    }
    p{
        width:500px;
    }
    
}
@media (max-width: 520px) {
    html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
    .conteiner { 
        display: block;
        justify-content: flex-start;
        max-width:500 px;
        
    }
    header {
        border: 1px inset blue;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    h2{
        font-size: 20px;  
    }
    .main-location{
        padding: 5%;
        max-width: 480px;
    }
    input {
        font-size: 14px;
        width: 170px;
    }
    .pin {
        width: 170px;
    }
    p{
        width:400px;
    }
    
}
@media (max-width: 450px) {
    html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
    .conteiner { 
        display: block;
        justify-content: flex-start;
        max-width:100%;
        
    }
    header {
        border: 1px inset blue;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    h2{
        font-size: 20px;  
    }
    .main-location{
        max-width: 395px;
        display: block;
        align-items: center;
    }
    input {
        font-size: 14px;
        width: 200px;
    }
    .pin {
        width: 200px;
    }
    p{
        width:370px;
    }
    
}
@media (max-width: 390px) {
    html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
    .conteiner { 
        display: block;
        justify-content: flex-start;
        max-width:100%;
        
    }
    header {
        border: 1px inset blue;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    h2{
        font-size: 15px;  
    }
    .main-location{
        max-width: 310px;
        display: block;
        align-items: center;
    }
    input {
        font-size: 14px;
        width: 150px;
    }
    .pin {
        width: 150px;
    }
    p{
        width:305px;
    }
    
}
@media (max-width: 340px) {
    html, body {
        /* Убирает прокрутку по горизонтале, для мобильной версии */
        overflow-x:auto; 
    }
}